<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://db/pgdb</property>
        <property name="hibernate.connection.username">pguser</property>
        <property name="hibernate.connection.password">pguser</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create all database on startup -->
        <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>--> <!-- not needed as we have our own init script -->

        <!-- Annotated entity classes -->
        <mapping class="tk.friendar.api.UserClass"/>
        <mapping class="tk.friendar.api.PlaceClass"/>
        <mapping class="tk.friendar.api.MeetingClass"/>
        <mapping class="tk.friendar.api.MessageClass"/>
        <mapping class="tk.friendar.api.MeetingUserClass"/>
        <mapping class="tk.friendar.api.FriendshipClass"/>

    </session-factory>
</hibernate-configuration>
